div {
  position:relative;
}

div.news_header {
  font-family: sans-serif;
  font-style: italic;
  font-size:40px;
  color: maroon;
  text-align:center;

}

div.news_text {

  margin-top:3%;
  padding:1%;
  text-align:left;
  padding:1% 10%;
  font-family: "Bitstream Charter";
  font-size:27px;
  color: navy;
  font-weight: 900;

}

#news_image {


  border-radius:20%;
  border: 1px solid #ddd;

  height:30%;
  width:35%;
  top: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto
}

